@model List<Homework2.Models.ListData>
@{
    ViewBag.Title = "Game Hub";
}
<div method="post" asp-controller="Order" asp-action="Index">
    <div class="text-center">
        <h1 class="display-2 mb-4 p-3 mb-2 bg-warning text-white">Welcome to my store</h1>
    </div>
</div>

<div class="row" style="margin-top:50px; display:flex; flex-wrap:wrap; flex-flow: row wrap;justify-content: center;">
    @foreach (var item in Model)
    {
    <div class="card" style="width: 320px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin:10px; text-align:center;">
        <img src="@item.url" class="card-img-top img-fluid" alt="...">
        <div class="card-body bg-dark">
            <h2 class="card-title text-white">@item.game</h2>
            <h4 class="card-text text-white">@item.price ฿</h4>
            <p class="card-text text-white">This is a interesting game Multi player and use skill very much.</p>
        </div>
        <div class="card-footer p-0" style="background-color:#FF9900">
            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="order"><h2 style="color:crimson">BUY!!!</h2></a>
        </div>
    </div>
    }
</div>

